[alias]
  st = status
	ci = commit
	br = branch
	co = checkout
	di = diff
	lg = log -p
  pu = pull --rebase upstream master
[user]
	name = Jeremy Pian
	email = jeremy@minted.com
[github]
	user = jxp604
[push]
	default = simple
[log]
	date = local
[credential]
	helper = osxkeychain
